<div id="fulfillment-request-container" class="container">
  <div class="row">
    <div class="col-lg">
      <h1>Order
        <%= @fulfillment_request.order.number %>
      </h1>
      <table id="order-info-table" class="table table-sm table-borderless">
        <tbody>
          <tr>
            <th scope="col">From</th>
            <td><%= @fulfillment_request.order.store.name %></td>
          </tr>
          <tr>
            <th scope="col">Placed</th>
            <td><%= @fulfillment_request.created_at %></td>
          </tr>
          <tr>
            <th scope="col">Fulfillment center</th>
            <td><%= @fulfillment_request.fulfillment_center.display_name %></td>
          </tr>
          <tr>
            <th scope="col">Status</th>
            <td>
              <span class="badge badge-pill <%= @fulfillment_request.state %>">
                <%= @fulfillment_request.state.humanize %>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg">
    </div>
  </div>

   <hr class="separator">

  <div class="row">
    <div class="col-sm-6">
      <h3>Shipping address</h3>
      <table class="table table-bordered table-striped table-sm">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.first_name %>
                <%= @fulfillment_request.order.shipping_address.last_name %>
            </td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>
              <%= [@fulfillment_request.order.shipping_address.address1, @fulfillment_request.order.shipping_address.address2].join(", ") %>
            </td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.city %>
            </td>
          </tr>
          <tr>
            <th scope="row">State</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.state %>
            </td>
          </tr>
          <tr>
            <th scope="row">Zip code</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.zipcode %>
            </td>
          </tr>
          <tr>
            <th scope="row">Country</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.country %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <h3>Shipping info</h3>
      <table class="table table-bordered table-striped table-sm">
        <tbody>
          <tr>
            <th scope="row">Shipping method</th>
            <td>
              <%= @fulfillment_request.order.shipping_address.first_name %>
                <%= @fulfillment_request.order.shipping_address.last_name %>
            </td>
          </tr>
          <tr>
            <th scope="row">Packing slip</th>
            <td>
              <%= @fulfillment_request.packing_slip_url.nil? ? "None" : link_to("Download", @fulfillment_request.packing_slip_url, class: "btn-sm btn-primary") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="separator">

  <% if !@fulfillment_request.fulfillment_center.fulfillment_notes.blank? %>
    <div class="row">
      <div class="col-lg">
        <div class="card">
          <div class="card-body fulfillment-notes-box">
            <%= render partial: "notes_box", locals: { fulfillment_request: @fulfillment_request }  %>
          </div>
        </div>
      </div>
    </div>

    <hr class="separator">
  <% end %>

  <div class="row">
    <div class="col-sm">
      <h3>Items to produce</h3>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <%= render partial: "instructions_table_col_titles", locals: { fulfillment_request: @fulfillment_request }  %>
          </tr>
        </thead>
        <tbody>
          <% @fulfillment_request.line_item_fulfillment_instructions.each do |instruction| %>
          <tr><%= render partial: "instructions_table_row", locals: { line_item_fulfillment_instruction: instruction } %></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <%= form_tag(@fulfillment_request.hash_id, method: "put", class: "mark-as-shipped-form") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <%= text_field_tag :tracking_number, nil, class: "fullwidth form-control", placeholder: "Tracking number (optional)" %>
        <%= submit_tag 'Mark order as shipped',
          data: { confirm: "Are you sure?" },
          class: "btn btn-block btn-success"
        %>
      <% end %>
    </div>
  </div>
</div>
