<table>
 <thead>
  <tr>
     <th>Fulfillment center</th>
     <th>Line item count</th>
     <th>Fulfillment status</th>
     <th></th>
  </tr>
 </thead>

 <tbody>
  <tr>
     <td>Raffes tryckeri</td>
     <td>2</td>
     <td><span class="pill">Not prepared</span></td>
     <td class="actions">
      <%= link_to_with_icon "play", nil, "/" %>
     </td>
  </tr>
  <tr>
     <td>Roffes tryckeri</td>
     <td>3</td>
     <td><span class="pill pill-pending">Preparing</span></td>
     <td class="actions">

     </td>
  </tr>
  <tr>
     <td>Basses tryckeri</td>
     <td>3</td>
     <td><span class="pill pill-pending">Pending</span></td>
     <td class="actions">
      <%= link_to_with_icon "envelope", nil, "/" %>
      <%= link_to_with_icon "undo", nil, "/" %>
      <%= link_to_with_icon "external-link", nil, "/" %>
     </td>
  </tr>
  <tr>
     <td>Bosses tryckeri</td>
     <td>3</td>
     <td><span class="pill pill-active">Fulfilled</span></td>
     <td class="actions">
      <%= link_to_with_icon "external-link", nil, "/" %>
     </td>
  </tr>
  <tr>
     <td>Bosses tryckeri</td>
     <td>3</td>
     <td><span class="pill pill-error">Failed</span></td>
     <td class="actions">
      <%= link_to_with_icon "undo", nil, "/" %>
     </td>
  </tr>
 </tbody>
</table>

<div class="text-center">
    X items require manual fulfillment <%= submit_tag t('spree.actions.ship'), class: "ship-shipment-button" %>
<div>