<%= render partial: 'fulfillment_requests', locals: { fulfillment_requests: @order.fulfillment_requests } %>

<div class="text-center">
  <% manual_items = @order.line_items_with_no_fulfillment_center %>
  <% if !manual_items.empty? %>
    <%= form_tag("TODO", method: "put") do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <table>
        <tbody>
          <td>
            <%= manual_items.length %> item <%= manual_items.length != 1 ? "s" : "" %> require<%= manual_items.length == 1 ? "s" : "" %> manual fulfillment
          </td>
          <td>
            <%= text_field_tag :tracking_number, nil, class: "form-control", placeholder: "Tracking number (optional)" %>
          </td>
          <td>
            <%= submit_tag 'Ship',
              data: { confirm: "Are you sure?" },
              class: "btn btn-success"
            %>
          </td>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>