<table>
  <thead>
    <tr>
      <th>Fulfillment center</th>
      <th>Line item count</th>
      <th>Fulfillment status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Spree::FulfillmentRequest.where(order: @order).order(:id).each do |request| %>
    <tr>
      <td><%= request.fulfillment_center.display_name %></td>
      <td><%= request.line_items.count %></td>
      <td><span class="pill <%= fulfillment_request_pill_class(request) %>"><%= request.state.humanize %></span></td>
      <td class="actions">
        <% if request.not_prepared? %>
          <%= fulfillment_request_prepare_button(request) %>
        <% elsif request.preparing? %>
          <% # no actions when preparing %>
        <% elsif request.waiting_for_fulfillment? %>
          <%= fulfillment_request_resend_button(request) %>
          <%= fulfillment_request_reset_button(request) %>
          <%= fulfillment_request_show_button(request) %>
        <% elsif request.preparation_failed? %>
          <%= fulfillment_request_reset_button(request) %>
        <% elsif request.fulfilled? %>
          <%= fulfillment_request_show_button(request) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= @order.line_items_with_no_fulfillment_center.length %> items require manual fulfillment
  <%= submit_tag t('spree.actions.ship'), class: "ship-shipment-button" %>
</div>