<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi!
    </p>
    <p>
      There's a new order from <%= @fulfillment_request.order.store.name %> waiting for fulfillment
    </p>
    <p>
      View the order at <a href="<%= external_fulfillment_request_url(@fulfillment_request.hash_id) %>"><%= external_fulfillment_request_url(@fulfillment_request.hash_id) %></a>
    </p>
    <% if @fulfillment_center.enable_order_page_http_auth? %>
    <p>
      Username: <%= @fulfillment_center.order_page_username %><br>
      Password: <%= @fulfillment_center.order_page_password %>
    </p>
    <% end %>
    <p>Thanks!</p>
  </body>
</html>