<!DOCTYPE html>
<html>
  <head>
    <title>
      <% unless @fulfillment_request.nil? %>
      <%= @fulfillment_request.order.store.name %> order <%= @fulfillment_request.order.number %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'external_fulfillment_request', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
