<!DOCTYPE html>
<html>
  <head>
    <title>SolidusTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'external_fulfillment_request', media: 'all', 'data-turbolinks-track': 'reload' %>

    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
